<section class="editor">
  <div class="container">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" [(ngModel)]="formModel.title" (change)="update()">
    </div>
    <div class="form-group">
      <label>Author</label>
      <textarea class="form-control" [(ngModel)]="formModel.author" (change)="update()"></textarea>
    </div>
    <div class="form-group">
      <label>Content (Supports Markdown)</label>
      <textarea class="form-control" [(ngModel)]="formModel.content" (change)="update()"></textarea>
    </div>
    <div class="form-group">
      <label>Markdown Preview</label>
      <markdown [data]="formModel.content"></markdown>
    </div>
  </div>
</section>
