<div class="support">
  <app-bubbles></app-bubbles>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card support__main_card text-center p-4">
          <h1>Support ARCC</h1>
          <p>ARCC needs your help to get started! We’re looking for a variety of things, including time, volunteers, materials and money. The list below has some items that we’re looking for. You can help ARCC make AI education a reality for hundreds of students.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center p-4">
        <div class="support__volunteer_card card">
            <h2>Time</h2>
            <p>Help with ARCC education initiatives to teach the next generation of engineers about Autonomous Robotics. ARCC has set curriculum and resources for educators. Get started today by contacting us.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center p-4">
        <div class="support__materials_card card">
        	<h2>Materials</h2>
        	<p>The ARCC competition and Jetson Car is in constant need of materials. Things such as colored tape, RC cars, foam tiles, power cords, posters, tables, and more can help our organization a lot. Check out our full Amazon wishlist to see what we’re currently looking for. Contact us to get a list.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center p-4">
        <div class="support__donate_card card">
          <h2>Funding</h2>
          <p>Coming Soon. R.A.C.E will require a large amount of funding to get started. From working with venus, purchasing educational equipment, and maintaing our research projects, any amount can help.</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
