<a name="race" style="
  display: block;
  position: relative;
  bottom: 160px;"></a>
<section class="race" id="screens" >
  <app-bubbles></app-bubbles>
  <img src="../assets/images/race-graphic.png" alt="Awesome Image" class="race__moc" />
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="race__content">
          <div class="block-title">
            <div class="block-title__text"><span>R.A.C.E.</span></div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <div class="race__feature row">
            <div class="race__feature-single col-lg-4 col-md-12 my-1">
              <i class="nonid-icon-strategy race__feature-icon"></i>
              <h3 class="race__feature-title"><a href="#">Autonomous Car <br> Competition</a></h3><!-- /.race__feature-title -->
            </div><!-- /.race__feature-single -->
            <div class="race__feature-single col-lg-4 col-md-12 my-1">
              <i class="nonid-icon-presentation race__feature-icon"></i>
              <h3 class="race__feature-title"><a href="#">Educational <br> Programs</a></h3><!-- /.race__feature-title -->
            </div><!-- /.race__feature-single -->
            <div class="race__feature-single col-lg-4 col-md-12 my-1">
              <i class="nonid-icon-target race__feature-icon"></i>
              <h3 class="race__feature-title"><a href="#">Targeted <br> Curriculum</a></h3><!-- /.race__feature-title -->
            </div><!-- /.race__feature-single -->
          </div><!-- /.race__feature -->
          <p class="race__text">
            The R.A.C.E (Racing Autonomous Cars Education) program aims to support middle and high school students interested in machine learning and autonomous robotics. Through a combination of educational programs and outreach presentations, RACE aims to introduce machine learning autonomous vehicles to the next generation. ARCC, through its R.A.C.E. program hosts an autonomous car tournament in Sacramento, bringing together student engineers from the region.
          </p><!-- /.race__text -->
          <!-- <a href="#" class="race__btn">Learn More</a> -->
        </div><!-- /.race__content -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.race -->
