@import "~src/shared";
@import "~src/assets/styles/style.css";

@mixin dropDownMenuBase ($selector: 'sub-menu', $position_top: 100%, $position_left: 0, $right_align_position: 0) {
  >.#{$selector} {
    position: absolute;
    top: $position_top;
    left: $position_left;
    z-index: 1000;
    float: left;
    min-width: 220px;
    padding: 0px 0px;
    text-align: left;
    list-style: none;
    background-color: $thm_black;
    background-clip: padding-box;
    opacity: 0;
    border-radius: 0px;
    visibility: hidden;
    transition: opacity .4s ease, visibility .4s ease;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);

    @media (min-width: 1200px) {
      display: block !important;
    }

    &.right-align {
      left: auto;
      right: $right_align_position;
    }

    &.center-align {
      left: 50%;
      transform: translateX(-50%);
    }


    >li {
      display: block;
      position: relative;
      transition: all .4s ease;



      +li {
        border-top: 1px solid rgba(#fff, .1)
      }

      >a {
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        padding: 12px 30px;
        display: block;
        line-height: 26px;
        white-space: nowrap;
        position: relative;
        transition: all .4s ease;

      }

      &:hover>a {
        color: #fff;
        background: $thm_base_color;
      }


    }
  }
}

@mixin dropDownMenuHover ($selector: 'sub-menu') {
  >.#{$selector} {
    opacity: 1;
    visibility: visible;
  }
}

.header-navigation {
  background-color: transparent;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  position: relative;

  .container {
    background: transparent;
    position: relative;
    display: block;

    .logo-box {
      float: left;
      position: absolute;
      top: 50%;
      left: 15px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .navbar-brand {
      height: auto;
      margin: 0;
    }

    .menu-toggler {
      display: none;
    }

    .right-side-box {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 15px;
    }
  }

  .main-navigation {
    float: none;
    text-align: center;

    @media (min-width: 1200px) {
      display: block !important;
    }
  }
}

.header-navigation ul.navigation-box {
  margin: 0;
  padding: 0;
  list-style: none;

  li a .sub-nav-toggler {
    display: none;
  }

  >li {
    position: relative;
    padding: 44px 0;
    display: inline-block;
    vertical-align: middle;

    +li {
      margin-left: 45px;

    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    >a {
      font-weight: 500;
      font-size: 18px;
      color: #666E82;
      padding: 0;
      transition: all .4s ease;
      position: relative;
    }

    &.current>a,
    &:hover>a {
      color:#FF8257;
    }

    /* Second Level Menu */
    @include dropDownMenuBase($selector: 'sub-menu', $position_top: 100%, $position_left: 0);

    &:hover {
      &:before {
        transform: scale(1, 1);
        transform-origin: left bottom;
      }

      @include dropDownMenuHover($selector: 'sub-menu');
    }

    /* Third Level Menu */
    >ul>li {
      @include dropDownMenuBase($selector: 'sub-menu', $position_top: 0%, $position_left: 100%, $right_align_position: 100%);

      &:hover {
        @include dropDownMenuHover($selector: 'sub-menu');
      }

      /* no more nested showen */
      ul {
        display: none;
      }
    }

  }
}



.header-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  &__btn {
    display: inline-block;
    vertical-align: middle;
    color: #FF8257;
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    padding: 19px 49px;
    border-radius: 27px;
    transition: all .4s ease;
    box-shadow: 0px 10px 30px 0px rgba(212, 212, 212, 0.3);
    &:hover {
      background-color: #FF8257;
      color: #fff;
      box-shadow: 0px 10px 30px 0px rgba(#FF8257, 0.3);
    }
  }
  .header-navigation .container {
    // padding-right: 130px;
  }
  .header-navigation.stricky-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
    ul.navigation-box > li {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}


.header-one__home-two {
  .header-navigation ul.navigation-box > li > a {
    color: #fff;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: transform .4s ease;
      transform: scale(0, 1);
      transform-origin: right center;
    }
  }
  .header-navigation ul.navigation-box > li.current > a, .header-navigation ul.navigation-box > li:hover > a {
    &:before {
      transform: scale(1,1);
      transform-origin: left center;
    }
  }
  .header-one__btn {
    color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(#FF8257, 0.3);
    background-color: #ff8257;
  }
  .header-navigation.stricky-fixed {
    background-color: $thm_black;
  }
}
