<header class="site-header header-one">
  <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
    <div class="container clearfix">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="logo-box clearfix">
        <a class="navbar-brand" href="index.html">
          <img src="../../../assets/images/logo-1-1.png" class="main-logo" alt="Awesome Image" />
        </a>
        <button class="menu-toggler" data-target=".header-one .main-navigation">
          <span class="fa fa-bars"></span>
        </button>
      </div><!-- /.logo-box -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="main-navigation">
        <ul class=" navigation-box one-page-scroll-menu ">
          <li class="current scrollToLink">
            <a href="#home">Home</a>
            <ul class="sub-menu">
              <li><a href="index.html">Home One</a></li>
              <li><a href="index-2.html">Home Two</a></li>
            </ul><!-- /.sub-menu -->
          </li>
          <li class="scrollToLink">
            <a href="#services">Features</a>
          </li>
          <li class="scrollToLink">
            <a href="#screens">App Screens</a>

          </li>
          <li class="scrollToLink">
            <a href="#pricing">Pricing</a>

          </li>
          <li class="scrollToLink">
            <a href="#blog">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog.html">Blog Style 01</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul><!-- /.sub-menu -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <div class="right-side-box">
        <a href="#" class="header-one__btn">Contact</a>
      </div><!-- /.right-side-box -->
    </div>
    <!-- /.container -->
  </nav>
</header><!-- /.header-one -->
