<header class="site-header header">
  <nav class="navbar navbar-expand-lg navbar-light header-navigation">
    <div class="container clearfix">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="logo-box clearfix">
        <a class="navbar-brand" routerLink="/">
          <img src="../../../assets/images/arcc-logo.png" class="main-logo" alt="Main Logo" style="object-fit: cover;"/>
        </a>
        <button class="menu-toggler" data-target=".header .main-navigation" (click)="toggleCollapse()">
          <span class="fa fa-bars"></span>
        </button>
      </div><!-- /.logo-box -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="main-navigation position-block" [@slideInOut]="animationState" >
        <ul class=" navigation-box " (click)="toggleCollapse()">
          <li>
            <a routerLink="/"  [routerLinkActive]="['current', 'active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li>
            <a routerLink="" fragment="ourprojects">Projects</a>
          </li>
          <li>
            <a routerLink="about" routerLinkActive="current">About</a>
          </li>
          <li>
              <a routerLink="support" routerLinkActive="current">Donate</a>
            </li>
          <li>
            <a routerLink="blog" routerLinkActive="current">Blog</a>
          </li>
          <li>
            <a routerLink="press" routerLinkActive="current">Press</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <div class="right-side-box">
        <a href="mailto:support@arcc.ai" class="header__btn">Contact</a>
      </div><!-- /.right-side-box -->
    </div>
    <!-- /.container -->
  </nav>
</header><!-- /.header -->
