<div class="about">
  <app-bubbles class="bubbles"></app-bubbles>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about__content">
          <div class="block-title">
            <div class="about__title">About Us</div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <p class="about__text">
            Michael Equi, our founder, started ARCC in 2018 with the dream of educatng people about <span>Artificial Intelligence (AI) technology: </span>

            “I and many others see <span>AI</span>as the technological <span>solution</span> to many of today’s <span>most baffling problems.</span> From climate change to immigration and improving the overall quality of life, AI has its set of benefits that it promises if <span>handled correctly.</span> In the meantime, it is important to understand that technology is what allows humanity to scale and grow either in population or in quality of life. It is important therefore that we constantly push the boundaries of what we can do. Therefore we need to make sure that as a community we <span>learn</span>, <span>
            	train</span>, and <span>exercise our ability to innovate</span> which is the key reason for ARCC’s founding.”

            To improve our chances of a <span>successful human society</span> merged with AI, we need to create organizations that foster the greatest levels of <span>collective human intelligence</span>. By studying and contributing to the field of AI whether as a technical developer, team leader, or AI philosopher we are helping humanity take a course on what could be one of the biggest revolutions.

            ARCC and R.A.C.E. will add to the pool of collective intelligence available to humanity in solving the challenges of AI. The goal is that ARCC will serve as a source of inspiration and education for our <span>youngest generation</span>. By tying in DeepRacer and NVIDIA Jetson Car to AI education, ARCC hopes to attract a wider audience and community that share in the passion for AI, robotics, and the prospects of a better future for humanity.
          </p><!-- /.banner-one__text -->
        </div><!-- /.banner-one__content -->
      </div><!-- /.col-lg-7 col-md-12 -->
      <div class="col-lg-6 col-md-12">
        <img src="assets/about/michael-photo.png" alt="Photo of Michael with car" id="michael-photo">
      </div>
    </div><!-- /.row -->
    <app-bubbles class="bubbles"></app-bubbles>
    <div class=" col-12">
      <div class="col-12 text-center mb-3">
        <h1 class="about-title">Plans for the Future</h1>
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
            <img src="assets/about/future-document.svg" alt="Document Icon" class="about__icon">
          </div>
          <div class="col-lg-9 col-md-12 mb-2">
            <h3 class="about__plans ml-1">
              Document and Open Source the Jetson Car
            </h3>
          </div><!-- col-lg-8-->
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
          <img src="assets/about/future-blog.svg" alt="Document Icon" class="about__icon">
        </div>
        <div class="col-lg-9 col-md-12 mb-2">
          <h3 class="about__plans ml-1">
            Post More on Our Blog
          </h3>
        </div><!-- col-lg-8-->
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
          <img src="assets/about/future-present.svg" alt="Document Icon" class="about__icon">
        </div>
        <div class="col-lg-9 col-md-12 mb-2">
          <h3 class="about__plans ml-1">
            Present to Schools about our Tech and RACE
          </h3>
        </div><!-- col-lg-8-->
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
          <img src="assets/about/future-race.svg" alt="Document Icon" class="about__icon">
        </div>
        <div class="col-lg-9 col-md-12 mb-2">
          <h3 class="about__plans ml-1">
              Host first R.A.C.E. competition
          </h3>
        </div><!-- col-lg-8-->
      </div>

      <div class="col-12">
        <img src="assets/about/michael-on-ground-photo.png" alt="Michael working with car on the ground" class="end-photo">
      </div>
    </div><!-- row -->
  </div><!-- /.container -->
</div>
