<div class="about">
  <app-bubbles class="bubbles"></app-bubbles>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about__content">
          <div class="block-title">
            <div class="about__title">About Us</div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <p class="about__text">
            Michael Equi, our founder, started ARCC in 2018 with the dream of educatng people about <span>Artificial Intelligence (AI) technology: </span>

            “I and many others see <span>AI</span>as the technological <span>solution</span> to many of today’s <span>most baffling problems.</span> From climate change to immigration and improving the overall quality of life.</span> In the meantime, it is important to understand that technology is what allows humanity to scale and grow in population or in quality of life. Therefore that we must constantly push the boundaries of what we can do and, as a community, <span>learn</span>, <span>
            	train</span>, and <span>exercise our ability to innovate</span>. Innovation in and through AI is the key reason for ARCC’s founding.”

            To improve our chances of a <span>successful society</span> merged with AI, we ought to create organizations that foster the greatest levels of <span>collective human intelligence</span>. By studying and contributing to the field of AI, whether as a technical developer, team leader, or "AI philosopher", you are helping humanity take a course on what could be one of the biggest technological revolutions to date.

            ARCC and R.A.C.E. will add to the pool of collective intelligence available in solving the challenges of AI. The goal is that ARCC will be a source of inspiration and education for our <span>youngest generation</span>. 
          </p><!-- /.banner-one__text -->
        </div><!-- /.banner-one__content -->
      </div><!-- /.col-lg-7 col-md-12 -->
      <div class="col-lg-6 col-md-12">
        <img src="assets/about/michael-photo.png" alt="Photo of Michael with car" id="michael-photo">
      </div>
    </div><!-- /.row -->
    <app-bubbles class="bubbles"></app-bubbles>
    <div class=" col-12">
      <div class="col-12 text-center mb-3">
        <h1 class="about-title">Plans for the Future</h1>
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
            <img src="assets/about/future-document.svg" alt="Document Icon" class="about__icon">
          </div>
          <div class="col-lg-9 col-md-12 mb-2">
            <h3 class="about__plans ml-1">
              Document the Jetson Car and harness the open source community
            </h3>
          </div><!-- col-lg-8-->
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
          <img src="assets/about/future-blog.svg" alt="Document Icon" class="about__icon">
        </div>
        <div class="col-lg-9 col-md-12 mb-2">
          <h3 class="about__plans ml-1">
            Post more on our blog
          </h3>
        </div><!-- col-lg-8-->
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
          <img src="assets/about/future-present.svg" alt="Document Icon" class="about__icon">
        </div>
        <div class="col-lg-9 col-md-12 mb-2">
          <h3 class="about__plans ml-1">
            Present to schools about Artificial Intelligence and R.A.C.E.
          </h3>
        </div><!-- col-lg-8-->
      </div>

      <div class="row col-12 my-3">
        <div class="col-lg-3 col-md-12">
          <img src="assets/about/future-race.svg" alt="Document Icon" class="about__icon">
        </div>
        <div class="col-lg-9 col-md-12 mb-2">
          <h3 class="about__plans ml-1">
              Host first large R.A.C.E. competition
          </h3>
        </div><!-- col-lg-8-->
      </div>

      <div class="col-12">
        <img src="assets/about/michael-on-ground-photo.png" alt="Michael working with Jetson Car at Voyage HQ Competition" class="end-photo">
      </div>
    </div><!-- row -->
  </div><!-- /.container -->
</div>
