<footer class="site-footer">
  <app-bubbles></app-bubbles>
  <!-- <app-email-signup></app-email-signup> TODO Reincorporate -->
  <div class="site-footer__main-footer pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-sm-12">
          <div class="footer-widget footer-widget--about-widget">
            <a href="/" class="footer-widget__footer-logo"><img src="../../../assets/images/arcc-logo.png" alt="ARCC Logo" /></a>
          </div><!-- /.footer-widget -->
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-widget">
            <h3 class="footer-widget__title">
              Explore
            </h3><!-- /.footer-widget__title -->
            <ul class="footer-widget__link-list">
                <li>
                  <a routerLink="/">Home</a>
                </li>
                <li>
                  <a routerLink="" fragment="ourprojects">Our Projects</a>
                </li>
            </ul><!-- /.footer-widget__link-list -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-lg-2 -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-widget">
            <h3 class="footer-widget__title">
              Projects
            </h3><!-- /.footer-widget__title -->
            <ul class="footer-widget__link-list">
                  <li>
                    <a routerLink="" fragment="jetsoncar">Jetson Car</a>
                  </li>
                  <li>
                      <a routerLink="" fragment="race">R.A.C.E.</a>
                  </li>
                  <li>
                    <a routerLink="" fragment="deepracer">DeepRacer</a>
                  </li>
            </ul><!-- /.footer-widget__link-list -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="footer-widget">
            <h3 class="footer-widget__title">
              Other
            </h3><!-- /.footer-widget__title -->
            <ul class="footer-widget__link-list">
              <li><a href="mailto:contact@arcc.ai">Contact</a></li>
              <li>
                <a routerLink="/blog">Blog</a>
              </li>
            </ul><!-- /.footer-widget__link-list -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-lg-2 -->
        <div class="col-lg-2 col-md-6 col-sm-12 d-flex">
          <div class="footer-widget my-auto">
            <div class="social-block">
              <a href="https://www.instagram.com/arcc_ai/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/autonomousracecarclub"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/company/autonomous-race-car-club/about/?viewAsMember=true"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.youtube.com/watch?v=eEBaDSQMvGI&feature=youtu.be&fbclid=IwAR2Z2a-vAQ4I24Z0oa8J53msjoBz7xBtaYDQuyWFySr08KxFKJ8m4jwnpvw"><i class="fab fa-youtube"></i></a>
              <a href="https://github.com/JHS-ARCC-Club"><i class="fab fa-github"></i></a>
            </div><!-- /.social-block -->
          </div><!-- /.footer-widget -->
        </div><!-- /.col-lg-2 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.site-footer__main-footer -->
  <div class="site-footer__bottom-footer text-center">
    <div class="container">
      <p>&copy; copyright 2019 and designed by <a href="https://www.caelinsutch.com">Caelin Sutch</a></p>
    </div><!-- /.container -->
  </div><!-- /.site-footer__bottom-footer -->
</footer><!-- /.site-footer -->
