<section class="pricing-one" id="pricing">
  <div class="container">
    <div class="block-title text-center">
      <div class="block-title__text"><span>Meet our Club Members</span></div><!-- /.block-title__text -->
    </div><!-- /.block-title -->
    <div class="row">
      <div class="col-lg-4">
        <div class="pricing-one__single">
          <div class="pricing-one__top">
            <h3 class="pricing-one__title">Caelin Sutch</h3>
            <p class="pricing-one__pack">Marketing and Management</p><!-- /.pricing-one__pack -->
          </div><!-- /.pricing-one__top -->
          <ul class="pricing-one__feature">
            <li class="pricing-one__feature-item">Class of 2020</li>
            <li class="pricing-one__feature-item">Web Developer</li>
            <li class="pricing-one__feature-item">Marketing and Management</li>
            <li class="pricing-one__feature-item">Loves Michael's Husky Sky</li>
          </ul><!-- /.pricing-one__feature -->
        </div><!-- /.pricing-one__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="pricing-one__single">
          <div class="pricing-one__top">
            <h3 class="pricing-one__title">Michael Equi</h3>
            <p class="pricing-one__pack">CEO</p><!-- /.pricing-one__pack -->
          </div><!-- /.pricing-one__top -->
          <ul class="pricing-one__feature">
            <li class="pricing-one__feature-item">Class of 2020</li>
            <li class="pricing-one__feature-item">Computer Genius</li>
            <li class="pricing-one__feature-item">AI and Electronics Wizards</li>
            <li class="pricing-one__feature-item">Club Founder</li>
          </ul><!-- /.pricing-one__feature -->
        </div><!-- /.pricing-one__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="pricing-one__single">
          <div class="pricing-one__top">
            <h3 class="pricing-one__title">Mr. Tsai</h3>
            <p class="pricing-one__pack">Club Moderator</p><!-- /.pricing-one__pack -->
          </div><!-- /.pricing-one__top -->
          <ul class="pricing-one__feature">
            <li class="pricing-one__feature-item">Best Teacher at Jesuit</li>
            <li class="pricing-one__feature-item">Avid supporter of ARCCt</li>
            <li class="pricing-one__feature-item">Attends Every Meeting</li>
            <li class="pricing-one__feature-item">Super Dad</li>
          </ul><!-- /.pricing-one__feature -->
        </div><!-- /.pricing-one__single -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.pricing-one -->
