.editor {
  background-color: $thm_black;
  background-image: none;
  padding-top: 120px;
  border-bottom: 1px solid #EAEAEA;
}

.editor ~ input textarea {
  background-color: $thm_light_black;
  color: $thm_gray;
}

.editor-posts {
  .new-title {
  }
}
