$thm_font: 'Poppins', sans-serif;
$thm_base_color: #00c28c;
$thm_dark_black: #0E111D;
$thm_black: #171c32;
$thm_light_black: #2f3967;
$thm_gray: #F3F3F3;
$thm_gray_dark: #d9d9d9;

$thm_purple: #9263D3;
$thm_pink: #ED529B;
$thm_red: #EE3F58;

$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;
$breakpoint-xs: 375px;

$background-color: #1c1c1c;


