// CSS Imports

@import 'helper-functions';
@import 'imported';
@import 'common';
@import 'blog';

/*
* main Responsive Breakpoints
*/

@media(max-width: $breakpoint-xl) {
  br {
    display: none;
  }

  .banner__text br,
  .block-title__text br {
    display: block;
  }

  .banner__moc {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    transform-origin: center right;
  }

  .projects .block-title {
    margin-bottom: 10px;
  }

  .projects__single {
    margin-top: 50px;
  }


  #founder-photo {
    width: 400px;
    height: 400px;
  }

  .block-title__text br {
    display: none;
  }

  .banner__moc {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
  }
}

@media(max-width: $breakpoint-lg) {
  .banner__moc {
    display: none;
  }

  .banner {
    padding-top: 185px;
  }

  .jetson {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .deepracer {
    padding-top: 0px;
    padding-bottom: 0;
  }

  .block-title__text br {
    display: none;
  }

  #founder-photo .testimonials-slider-pager-one .pager-item img {
    width: 400px;
  }

  #founder-photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .founder-letter .my-auto {
    width: 100%;
  }

  .fun-fact-one .block-title {
    margin-bottom: 0;
  }

  .fun-fact-one__box-wrapper {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .fun-fact-one__single {
    margin-top: 0px !important;
    flex: 1 0 50%;
    display: -webkit-box;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fun-fact-one__single .inner-block {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-widget {
    margin-bottom: 50px;
  }

  .site-footer__main-footer {
    padding-bottom: 70px;
  }

}

@media(max-width: $breakpoint-md) {

  .banner__moc {
    display: none;
  }

  .banner {
    padding-bottom: 0;
  }

}


@media(max-width: $breakpoint-sm) {

  .banner .block-title__text,
  .block-title__text {
    font-size: 35px;
    line-height: 45px;
  }

  .banner__text br {
    display: none;
  }


  .blog {
    padding-top: 100px;
  }

  .blog-details__author-image,
  .blog-details__author-content {
    display: block;
  }

  .blog-details__author-content {
    padding-left: 0;
    margin-top: 40px;
  }

  .site-footer__subscribe-form {
    overflow: visible;
    margin-bottom: 84px;
  }

  .site-footer__subscribe-form button[type=submit] {
    right: auto;
    left: 50%;
    top: 100%;
    -webkit-transform: translateY(20px) translateX(-50%);
    -ms-transform: translateY(20px) translateX(-50%);
    -o-transform: translateY(20px) translateX(-50%);
    transform: translateY(20px) translateX(-50%);
  }
}

@media(max-width: $breakpoint-xs) {
  .block-title__text span:before {
    display: none;
  }

  #founder-photo {
    width: 300px;
    height: 300px;
    right: 100px !important;
  }

  #founder-photo .testimonials-slider-pager-one .pager-item img {
    width: 300px;
  }

  #founder-photo .founder-icon {
    display: none !important;
  }

  .site-header.header .header-navigation .container .right-side-box {
    display: none;
  }

  .site-header.header .header-navigation .container .menu-toggler {
    float: right;
  }

  .race hr {
    margin-bottom: 80px;
  }
}
