<section class="fun-fact-one">
  <app-bubbles></app-bubbles>
  <div class="container">
    <div class="block-title text-center">
      <div class="block-title__text"><span>Some Facts...</span></div><!-- /.block-title__text -->
    </div><!-- /.block-title -->
    <div class="fun-fact-one__box-wrapper">
      <div class="fun-fact-one__single">
        <div class="inner-block">
          <h3 class="fun-fact-one__title counter">
            3
          </h3><!-- /.fun-fact-one__title -->
          <p class="fun-fact-one__text">
            current projects
          </p><!-- /.fun-fact-one__text -->
        </div><!-- /.inner-block -->
      </div><!-- /.fun-fact-one__single -->
      <div class="fun-fact-one__single">
        <div class="inner-block">
          <h3 class="fun-fact-one__title counter">
            4
          </h3><!-- /.fun-fact-one__title -->
          <p class="fun-fact-one__text">
            developers
          </p><!-- /.fun-fact-one__text -->
        </div><!-- /.inner-block -->
      </div><!-- /.fun-fact-one__single -->
      <div class="fun-fact-one__single">
        <div class="inner-block">
          <h3 class="fun-fact-one__title counter">
            1
          </h3><!-- /.fun-fact-one__title -->
          <p class="fun-fact-one__text">
            outreach event
          </p><!-- /.fun-fact-one__text -->
        </div><!-- /.inner-block -->
      </div><!-- /.fun-fact-one__single -->
      <div class="fun-fact-one__single">
        <div class="inner-block">
          <h3 class="fun-fact-one__title counter">
            10+
          </h3><!-- /.fun-fact-one__title -->
          <p class="fun-fact-one__text">
            people influenced
          </p><!-- /.fun-fact-one__text -->
        </div><!-- /.inner-block -->
      </div><!-- /.fun-fact-one__single -->
    </div><!-- /.fun-fact-one_box-wrapper -->
  </div><!-- /.container -->
</section><!-- /.fun-fact-one -->
