<section class="club-members" id="pricing">
  <a name="club-members"></a>
  <div class="container">
    <div class="block-title text-center">
      <div class="block-title__text"><span>Meet our Team</span></div><!-- /.block-title__text -->
    </div><!-- /.block-title -->
    <div class="row">
      <div class="col-lg-4">
        <div class="club-members__single">
          <div class="club-members__top">
            <h3 class="club-members__title">Caelin Sutch</h3>
            <p class="club-members__pack">Chief Operating Officer</p><!-- /.club-members__pack -->
          </div><!-- /.club-members__top -->
          <ul class="club-members__feature">
            <li class="club-members__feature-item">Jesuit High School Class of 2020</li>
            <li class="club-members__feature-item">Website and Blog Development</li>
            <li class="club-members__feature-item">Overall Operations and Management</li>
            <li class="club-members__feature-item">Marketing and Social Media</li>
          </ul><!-- /.club-members__feature -->
        </div><!-- /.club-members__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="club-members__single">
          <div class="club-members__top">
            <h3 class="club-members__title">Michael Equi</h3>
            <p class="club-members__pack">Chief Executive Officer</p><!-- /.club-members__pack -->
          </div><!-- /.club-members__top -->
          <ul class="club-members__feature">
            <li class="club-members__feature-item">Jesuit High School Class of 2020</li>
            <li class="club-members__feature-item">Founder</li>
            <li class="club-members__feature-item">Overall Vision</li>
            <li class="club-members__feature-item">AI and ML Developer</li>
          </ul><!-- /.club-members__feature -->
        </div><!-- /.club-members__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="club-members__single">
          <div class="club-members__top">
            <h3 class="club-members__title">Alden Parker</h3>
            <p class="club-members__pack">Developer</p><!-- /.club-members__pack -->
          </div><!-- /.club-members__top -->
          <ul class="club-members__feature">
            <li class="club-members__feature-item">Jesuit High School Class of 2021</li>
            <li class="club-members__feature-item">Assists in Website Development</li>
            <li class="club-members__feature-item">Track Build and Support</li>
            <li class="club-members__feature-item">Support for Operations</li>
          </ul><!-- /.club-members__feature -->
        </div><!-- /.club-members__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="club-members__single">
          <div class="club-members__top">
            <h3 class="club-members__title">Clare Epolite</h3>
            <p class="club-members__pack">Developer</p><!-- /.club-members__pack -->
          </div><!-- /.club-members__top -->
          <ul class="club-members__feature">
            <li class="club-members__feature-item">St. Francis High School Class of 2021</li>
            <li class="club-members__feature-item">Operations and Support</li>
            <li class="club-members__feature-item">Track Build and Support</li>
            <li class="club-members__feature-item">Support for Operations</li>
          </ul><!-- /.club-members__feature -->
        </div><!-- /.club-members__single -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="club-members__single">
          <div class="club-members__top">
            <h3 class="club-members__title">Jaiveer Gahunia</h3>
            <p class="club-members__pack">Developer</p><!-- /.club-members__pack -->
          </div><!-- /.club-members__top -->
          <ul class="club-members__feature">
            <li class="club-members__feature-item">Jesuit High School Class of 2021</li>
            <li class="club-members__feature-item">AI Developer</li>
            <li class="club-members__feature-item">Melee Enthusiast</li>
            <li class="club-members__feature-item">Runs Twitter</li>
          </ul><!-- /.club-members__feature -->
        </div><!-- /.club-members__single -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.club-members -->
