<a name="ourprojects"></a>
<section class="projects" id="services">
  <div class="container">
    <div class="block-title text-center">
      <div class="block-title__text">
        <span> Our Projects </span> <br>
      </div><!-- /.block-title__text -->
    </div><!-- /.block-title -->
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="projects__single">
          <i class="projects__icon nonid-icon-laptop"></i>
          <h3 class="projects__title"><a href="#">Jetson Car</a></h3><!-- /.projects__title -->
          <p class="projects__text">Traxis 4 wheel drive RC car powered by an NVIDIA Jetson</p><!-- /.projects__text -->
          <a href="#jetson" class="projects__link"><i class="nonid-icon-left-arrow"></i></a>
        </div><!-- /.projects__single -->
      </div><!-- /.col-lg-3 -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="projects__single">
          <i class="projects__icon nonid-icon-presentation"></i>
          <h3 class="projects__title"><a href="#">RACE Organization</a></h3><!-- /.projects__title -->
          <p class="projects__text">Education and Training using Amazon DeepRacer</p><!-- /.projects__text -->
          <a href="#race" class="projects__link"><i class="nonid-icon-left-arrow"></i></a>
        </div><!-- /.projects__single -->
      </div><!-- /.col-lg-3 -->
      <!--<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">-->
        <!--<div class="projects__single">-->
          <!--<i class="projects__icon nonid-icon-target"></i>-->
          <!--<h3 class="projects__title"><a href="#">SEO and <br> Backlinks</a></h3>&lt;!&ndash; /.projects__title &ndash;&gt;-->
          <!--<p class="projects__text">Lorem ipsum is are <br> many variations of <br> pass of majority.</p>&lt;!&ndash; /.projects__text &ndash;&gt;-->
          <!--<a href="#" class="projects__link"><i class="nonid-icon-left-arrow"></i></a>-->
        <!--</div>&lt;!&ndash; /.projects__single &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.col-lg-3 &ndash;&gt;-->
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="projects__single">
          <i class="projects__icon nonid-icon-visualization"></i>
          <h3 class="projects__title"><a href="#">Amazon DeepRacer</a></h3><!-- /.projects__title -->
          <p class="projects__text">ARCC competes in the Amazon DeepRacer league</p><!-- /.projects__text -->
          <a href="#deepracer" class="projects__link"><i class="nonid-icon-left-arrow"></i></a>
        </div><!-- /.projects__single -->
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.projects -->
