<a name="deepracer"></a>
<section class="deepracer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="deepracer__image-wrap">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="deepracer__image">
                <!-- <img src="../assets/images/cta-1-1.png" alt="Awesome Image" /> -->
              </div><!-- /.deepracer__image -->
              <div class="deepracer__color-box deepracer__color-box-1"></div><!-- /.deepracer__color-box -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
              <div class="deepracer__color-box deepracer__color-box-2"></div><!-- /.deepracer__color-box -->
              <div class="deepracer__image">
                <!-- <img src="../assets/images/cta-1-2.png" alt="Awesome Image" /> -->
              </div><!-- /.deepracer__image -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row no-gutters -->
        </div><!-- /.deepracer__image-wrap -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6 d-flex">
        <div class="deepracer__content my-auto">
          <div class="block-title">
            <div class="block-title__text"><span>AWS</span> <br> <span>DeepRacer</span></div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <p class="deepracer__text">ARCC trains competitors for the AWS DeepRacer league, an autonomous car tournament focused on reinforcement learning.</p><!-- /.deepracer__text -->
          <ul class="deepracer__list">
            <li class="deepracer__list-item"><i class="fa fa-check"></i>Educational</li>
            <li class="deepracer__list-item"><i class="fa fa-check"></i>Virtual Racing and Cloud Training</li>
            <li class="deepracer__list-item"><i class="fa fa-check"></i>Low Cost of Entry</li>
          </ul><!-- /.deepracer__list -->
          <!-- <a href="#" class="deepracer__btn">Get Started</a> -->
        </div><!-- /.deepracer__content -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.deepracer -->
