<div class="search">
    <div class="container">
      <div class="text-center">
        <h1>Welcome to our Blog</h1>
        <a [routerLink]="['/auth']" routerLinkActive="router-link-active"  class="btn btn-primary mx-auto my-4" role="button">Signup or Log In</a>
      </div>
        <ais-instantsearch [config]="algoliaConfig">
          <ais-configure
            [searchParameters]=""
          ></ais-configure>
            <ais-search-box>
            </ais-search-box>
            <ais-hits>
              <ng-template let-hits="hits" let-results="results">
                <!-- Nothing found? -->
                <div *ngIf="hits.length === 0">
                  😢 Nothing found for
                  <strong>{{results.query}}</strong>.
                </div>
                <div class="row my-3">
                    <div *ngFor="let hit of hits" class="col-lg-4 col-md-6 p-3">
                      <app-blog-card [post]="hit" style="height: 100%"></app-blog-card>
                    </div>
                  </div>

                </ng-template>
              </ais-hits>
          </ais-instantsearch>
    </div>
  </div>
