<div class="search">
    <div class="container">
        <ais-instantsearch [config]="algoliaConfig">
            <ais-search-box>
            </ais-search-box>
            <ais-hits>
              <ng-template let-hits="hits" let-results="results">
                <!-- Nothing found? -->
                <div *ngIf="hits.length === 0">
                  😢 Nothing found for
                  <strong>{{results.query}}</strong>.
                </div>
                <div class="row my-3">
                    <div *ngFor="let hit of hits" class="col-lg-4 col-md-6">
                      <app-blog-card [post]="hit"></app-blog-card>
                    </div>
                  </div>

                </ng-template>
              </ais-hits>
          </ais-instantsearch>
    </div>
  </div>
