<div class="search">
  <div class="container">
      <ais-instantsearch [config]="algoliaConfig">
          <ais-search-box></ais-search-box>
          <ais-stats></ais-stats>

          <ais-hits>
            <ng-template let-hits="hits" let-results="results">
              <!-- Nothing found? -->
              <div *ngIf="hits.length === 0">
                😢 Nothing found for
                <strong>{{results.query}}</strong>.
              </div>

              <div *ngFor="let hit of hits" class="result-card">
                <h2>
                  <p>{{ hit.title }}</p>
                  <p>{{ results.title }}</p>
                </h2>
              </div>
            </ng-template>
          </ais-hits>
        </ais-instantsearch>
  </div>
</div>
