<section class="blog-details">
  <div class="container">
    <div class="blog-details__content">
      <!--<div class="blog-details__image">-->
        <!--<div class="blog-details__date">30 April, 2019</div>&lt;!&ndash; /.blog-details__date &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.blog-details__image &ndash;&gt;-->
      <div class="blog-details__meta">
        <a href="#" class="blog-details__meta-link">By {{(post | async)?.author}}</a>
      </div><!-- /.blog-details__meta -->
      <h3 class="blog-details__title">{{(post | async)?.title}}</h3><!-- /.blog-details__title -->
      <markdown class="blog-details__text" [data]="(post | async)?.content"></markdown><!-- /.blog-details__text -->
      <app-tag-viewer [tags]="(post | async)?.tags"></app-tag-viewer>
    </div><!-- /.blog-details__content -->
    <br>
    <div class="comment-one" *ngFor="let comment of (post | async)?.comments">
      <div class="comment-one__single">
        <div class="comment-one__image">
          <div class="inner-block">
            <img [src]="comment.profilePhoto" alt="comment.profilePhoto" class="comment-one__profilephoto"/>
          </div>
        </div>
        <div class="comment-one__content">
          <div class="comment-one__content-top">
            <div class="comment-one__top-left">
              <h3 class="comment-one__author">{{ comment.author }}</h3>
              <p class="comment-one__date">{{ comment.date }}</p>
              <p class="comment-one__text">{{ comment.comment }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="blog-details__content-title" *ngIf="authService.user$ | async">Leave a Comment</h2>
    <form class="reply-form" [formGroup]="commentForm" (ngSubmit)="submit()" *ngIf="authService.user$ | async">
      <div class="row">
        <div class="col-lg-12">
          <textarea placeholder="Write message" class="reply-form__field" formControlName="comment" ></textarea>
          <button class="reply-form__btn" type="submit">Submit Comment</button>
        </div>
      </div>
    </form>
  </div><!-- /.container -->
</section><!-- /.blog-details -->

