<section class="banner" id="home">

  <app-bubbles></app-bubbles>


  <img src="../../../assets/images/coding-graphic.png" class="banner__moc" alt="Awesome Image"/>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner__content">
          <div class="block-title">
            <div class="block-title__text"><span> Autonomous Race Car </span> <br> <span> Club (ARCC) </span></div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <p class="banner__text">
            A group of engineers who love working on RC autonomous cars.
            <br> Founded in 2018 by Michael Equi '20 and Caelin Sutch '20
          </p><!-- /.banner-one__text -->
          <a href="#" class="banner__btn">Get Started</a>
        </div><!-- /.banner-one__content -->
      </div><!-- /.col-lg-5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.banner -->
