.rightTile {
  border-radius: 61px;
}

.leftTile {
  border-radius: 61px;
  float: right;
}

.eventCard {
  border-radius: 61px;
}

.timeLine {

}

.eventContent {
  line-height: 125%;
}

.wrapper {
  margin-top: 10.3em;
  text-align: center;
}

.red {
  background-color: #C04153;
}

.green {
  background-color: #62AFAC;
}

.purple {
  background-color: #7F60AA;
}

.pink {
  background-color: #D874A3;
}

.offRed {
  background-color: #EE3F58;
}

.offGreen {
  background-color: #5DD7D2;
}

.offPurple {
  background-color: #9263D3;
}

.offPink {
  background-color: #ED529B;
}
