<section class="my-5">

  <app-bubbles></app-bubbles>

  <vertical-timeline>

    <vertical-timeline-card>
      <div class="eventCard red shadow-sm left">
          <div class="row">
            <div class="col-5 rightTile offRed shadow-sm">
              <div class="align-self-center">
                <h2 class="mx-auto my-5 title">ARCC Founded</h2>
              </div>
            </div>
            <div class="col-6 mx-auto">
              <p class="eventContentLeft">ARCC founded by Michael Equi and Caelin Sutch with the goal of researching and devloping autonomous RC Cars.</p>
            </div>
          </div>
      </div>
    </vertical-timeline-card>

    <vertical-timeline-card>
      <div class="eventCard green shadow-sm right">
        <div class="row">
          <div class="col-6 mx-auto">
            <p class="eventContentRight">The Jetson car was the first project embarked upon by ARCC. The Jetson provided a hardware platform to continue the AI and ML research of the team.</p>
          </div>
          <div class="col-5 leftTile offGreen shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5 title">Jetson Car Started</h2>
            </div>
          </div>
        </div>
      </div>
    </vertical-timeline-card>

    <vertical-timeline-card>
      <div class="eventCard purple shadow-sm left">
        <div class="row">
          <div class="col-5 rightTile offPurple shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5 title">Jetson Car First Event</h2>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <p class="eventContentLeft">The ARCC team traveled to Silicon Valley for their first Autonomous Car meetup at Voyage, an autonomous car startup. This is the start of the obsession.</p>
          </div>
        </div>
      </div>
    </vertical-timeline-card>

    <vertical-timeline-card>
      <div class="eventCard pink shadow-sm right">
        <div class="row">
          <div class="col-6 mx-auto">
            <p class="eventContentRight">CONTENT</p>
          </div>
          <div class="col-5 leftTile offPink shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5 title">Full Track Built</h2>
            </div>
          </div>
        </div>
      </div>
    </vertical-timeline-card>

    <vertical-timeline-card>
      <div class="eventCard red shadow-sm left">
        <div class="row">
          <div class="col-5 rightTile offRed shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5 title">Brookfield Outreach</h2>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <p class="eventContentLeft">CONTENT</p>
          </div>
        </div>
      </div>
    </vertical-timeline-card>

    <vertical-timeline-card>
      <div class="eventCard green shadow-sm right">
        <div class="row">
          <div class="col-6 mx-auto">
            <p class="eventContentRight">CONTENT</p>
          </div>
          <div class="col-5 leftTile offGreen shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5 title">Brookfield Outreach</h2>
            </div>
          </div>
        </div>
      </div>
    </vertical-timeline-card>

    <vertical-timeline-card>
      <div class="eventCard purple shadow-sm left">
        <div class="row">
          <div class="col-5 rightTile offPurple shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5 title">Presentation Outreach</h2>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <p class="eventContentLeft">CONTENT</p>
          </div>
        </div>
      </div>
    </vertical-timeline-card>

  </vertical-timeline>
</section>
