<section>
  <div class="mx-auto col-lg-8 col-md-10 col-sm-9 wrapper">
    <div class="timelineWrapper">
      <div class="timeLine"></div>
    </div>
    <app-bubbles></app-bubbles>
    <div class="col-lg-5 col-md-5 col-sm-11">
      <div class="eventCard red shadow-sm">
        <div class="leftDot red"></div>
        <div class="behindLeftDot offRed"></div>
        <div class="row">
          <div class="col-5 rightTile offRed shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5">ARCC Founded</h2>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <p class="eventContent mt-5">ARCC founded by Michael Equi and Caelin Sutch with the goal of researching and devloping autonomous RC Cars.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7"></div>
      <div class="col-lg-5 col-md-5 col-sm-11">
        <div class="eventCard green shadow-sm">
          <div class="rightDot green"></div>
          <div class="behindRightDot offGreen"></div>
          <div class="row">
            <div class="col-6 mx-auto">
              <p class="eventContent mt-4">The Jetson car was the first project embarked upon by ARCC. The Jetson provided a hardware platform to continue the AI and ML research of the team.</p>
            </div>
            <div class="col-5 leftTile offGreen shadow-sm">
              <div class="align-self-center">
                <h2 class="mx-auto my-5">Jetson Car Started</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-11">
      <div class="eventCard purple shadow-sm">
        <div class="leftDot purple"></div>
        <div class="behindLeftDot offPurple"></div>
        <div class="row">
          <div class="col-5 rightTile offPurple shadow-sm">
            <div class="align-self-center">
              <h2 class="mx-auto my-5">Jetson Car First Event</h2>
            </div>
          </div>
          <div class="col-6 mx-auto">
            <p class="eventContent mt-4">The ARCC team traveled to Silicon Valley for their first Autonomous Car meetup at Voyage, an autonomous car startup. This is the start of the obsession.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7"></div>
      <div class="col-lg-5 col-md-5 col-sm-11">
        <div class="eventCard pink shadow-sm">
          <div class="rightDot pink"></div>
          <div class="behindRightDot offPink"></div>
          <div class="row">
            <div class="col-6 mx-auto">
              <p class="eventContent mt-4">The Jetson car was the first project embarked upon by ARCC. The Jetson provided a hardware platform to continue the AI and ML research of the team.</p>
            </div>
            <div class="col-5 leftTile offPink shadow-sm">
              <div class="align-self-center">
                <h2 class="mx-auto my-5">Full Track Built</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
