@import "../../../styles/_helper-functions";

.title {
  text-align: center;
}

.rightTile {
  border-radius: 61px;
}

.leftTile {
  border-radius: 61px;
  float: right;
}

.eventCard {
  border-radius: 61px;
}

.right {
  margin-left: -16%;
  margin-top: -25%;
  margin-right: 16%;

}
.left {
  margin-right: -13%;
  margin-top: -23%;
  margin-left: 9%;
}

.eventContentRight {
  line-height: 125%;
  margin-left: 14%;
  margin-top: 8%;
  margin-right: -4%;
}

.eventContentLeft {
  line-height: 125%;
  margin-right: 9%;
  margin-top: 13%;
  margin-left: -4%;
}

.red {
  background-color: #C04153;
}

.green {
  background-color: #62AFAC;
}

.purple {
  background-color: #7F60AA;
}

.pink {
  background-color: #D874A3;
}

.offRed {
  background-color: #EE3F58;
}

.offGreen {
  background-color: #5DD7D2;
}

.offPurple {
  background-color: #9263D3;
}

.offPink {
  background-color: #ED529B;
}

// BREAKPOINTS

@media(max-width: $breakpoint-xl) {

}

@media(max-width: $breakpoint-lg) {

  .right {
    margin-left: 7%;
    margin-right: -10%;
  }

}

@media(max-width: $breakpoint-md) {

}

@media(max-width: $breakpoint-sm) {

  .title {
    font-size: 0.7em;
  }

  .eventContentRight {
    font-size: 0.6em;
  }

  .eventContentLeft {
    font-size: 0.6em;
  }

  .right {
    margin-top: -32%;
    margin-left: -21%;
    margin-right: 6%;
  }

  .left {
    margin-top: -36%;
    margin-left: -17%;
    margin-right: 0%;
  }

  .eventContentLeft {
    margin-top: 17%;
    margin-left: -8%;
    margin-right: 8%;
  }

  .eventContentRight {
    margin-top: 11%;
    margin-left: 13%;
    margin-right: -10%;
  }

}

@media(max-width: $breakpoint-xs) {

}
