<div class="site-footer__subscribe">
  <div class="container">
    <div class="block-title text-center">
      <div class="block-title__text"><span>Subscribe our newsletter</span> <br> <span>to get new updates</span></div><!-- /.block-title__text -->
    </div><!-- /.block-title -->
    <form action="#" class="site-footer__subscribe-form">
      <input type="text" name="email" placeholder="Enter your email">
      <button type="submit">Get Started</button>
    </form><!-- /.subscribe-form -->
  </div><!-- /.container -->
</div><!-- /.site-footer__subscribe -->
