<section class="jetson">
  <a id="jetsoncar"></a>
  <app-bubbles></app-bubbles>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex px-2">
        <div id="jetsonCarousel" class="carousel slide mr-lg-2" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/jetson-car.png" alt="Awesome Image" class="jetson__moc d-block w-100" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex px-2">
        <div class="jetson__content my-auto ml-lg-2">
          <div class="block-title">
            <div class="block-title__text"><span>NVIDIA Jetson Car</span></div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <p class="jetson__text">
            The club's first project, the Jetson car served as an initial testbed for autonomous driving algorithms.
            This car has raced in the bay area, and more recently been trained to race around the Jesuit Track.
          </p><!-- /.jetson__text -->
          <ul class="jetson__list">
            <li class="jetson__list-item"><i class="fa fa-check"></i>NVIDIA Jetson Computer</li>
            <li class="jetson__list-item"><i class="fa fa-check"></i>Intel Realsense D435</li>
            <li class="jetson__list-item"><i class="fa fa-check"></i>Traxxas RC Car</li>
          </ul><!-- /.jetson__list -->
          <!-- <a href="#" class="jetson__btn">Learn More</a> -->
        </div><!-- /.jetson__content -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.jetson -->
