<section class="jetson">
  <a id="jetsoncar"></a>
  <img src="../assets/images/banner-icon-1-6.png" alt="Awesome Image" class="bubble-1" />
  <img src="../assets/images/banner-icon-1-4.png" alt="Awesome Image" class="bubble-2" />
  <img src="../assets/images/banner-icon-1-5.png" alt="Awesome Image" class="bubble-3" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex px-2">
        <div id="jetsonCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/cta-moc-1-1.png" alt="Awesome Image" class="jetson__moc d-block w-100" />\
            </div>
          </div>
          <a class="carousel-control-prev" href="#jetsonCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#jetsonCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex px-2">
        <div class="jetson__content my-auto">
          <div class="block-title">
            <div class="block-title__text"><span>NVIDIA Jetson Car</span></div><!-- /.block-title__text -->
          </div><!-- /.block-title -->
          <p class="jetson__text">
            The clubs first project, the Jetson car served as an initial testbed for autonomous driving algorithms.
            This car has raced in the bay area, and more recently been trained to race around the Jesuit Track.
          </p><!-- /.jetson__text -->
          <ul class="jetson__list">
            <li class="jetson__list-item"><i class="fa fa-check"></i>NVIDIA Jetson Computer</li>
            <li class="jetson__list-item"><i class="fa fa-check"></i>Intel Realsense D450</li>
            <li class="jetson__list-item"><i class="fa fa-check"></i>Traxis RC Car</li>
          </ul><!-- /.jetson__list -->
          <a href="#" class="jetson__btn">Learn More</a>
        </div><!-- /.jetson__content -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.jetson -->
